html,
body {
  min-width: 1122px;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}



/* ГЛАВНАЯ */


.main-header {
  margin-bottom: 60px;
}

.main-navigation {
  float: left;
  width: 780px;
  min-height: 72px;
}

.user-block {
  float: right;
  width: 140px;
  min-height: 72px;
}

.index-logo {
  width: 368px;
  min-height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.features {
  margin-bottom: 80px;
}

.feature-item {
  float: left;
  width: 300px;
  min-height: 175px;
  margin-right: 20px;
}

.feature-item:last-child {
  margin-right: 0;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
}

.index-content-left {
  float: left;
  width: 380px;
  min-height: 330px;
}

.index-content-right {
  float: right;
  width: 300px;
  min-height: 330px;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 180px;
  min-height: 90px;
}



/* КАТАЛОГ */



.inner-header {
	margin-bottom: 55px;
}

.inner-navigation {
  float: left;
  width: 780px;
  min-height: 72px;
}

.catalog-caption {
	margin-bottom: 55px;
}

.catalog-full {
	margin-bottom: 45px;
}

.catalog-full-left {
	float: left;
	width: 220px;
	min-height: 570px;
}

.catalog-full-right {
	float: right;
	width: 700px;
	min-height: 680px;
}



/* КАРТОЧКА ТОВАРА */	



.item-card-left {
	float: left;
	width: 460px;
	min-height: 670px;
}

.item-card-right {
	float: right;
	width: 390px;
	min-height: 560px;
}